<section id="home-articles" class="home-articles py-2">
  <div class="articles-background-container">
    <section class="editor-options">
      <h2>Editor Picks</h2>
      <a href="/new" class="btn btn-primary btn-moderate">Create</a>
    </section>

    <div class="articles-container">
      <article class="article-card card bg-primary">
        <img src="../images/<%= post[0].image %> " alt="" />
        <div>
          <h3>
            <a href="/read/<%= post[0].slug %> "
              ><span class="link-span"></span><%= post[0].title %></a
            >
          </h3>
          <a href="#" class="category bg-light-category"
            ><%= post[0].category %>
          </a>
          <p><%= post[0].summary %></p>
        </div>
      </article>

      <article class="article-card card bg-dark">
        <h3>
          <a href="/read/<%= post[1].slug %> "
            ><span class="link-span"></span><%= post[1].title %>
          </a>
        </h3>
        <a href="#" class="category bg-dark-category"
          ><%= post[1].category %>
        </a>
        <p><%= post[1].summary %></p>
      </article>

      <article class="article-card card bg-secondary">
        <img src="../images/<%= post[2].image %> " alt="" />
        <a href="#" class="category bg-light-category"
          ><%= post[2].category %>
        </a>
        <h3>
          <a href="/read/<%= post[2].slug %> "
            ><span class="link-span"></span><%= post[2].title %>
          </a>
        </h3>
        <p><%= post[2].summary %></p>
      </article>

      <article class="article-card card bg-dark">
        <h3>
          <a href="/read/<%= post[3].slug %> "
            ><span class="link-span"></span><%= post[3].title %>
          </a>
        </h3>
        <a href="#" class="category bg-light-category"
          ><%= post[3].category %>
        </a>
        <p><%= post[3].summary %></p>
        <img src="../images/<%= post[3].image %> " alt="" />
      </article>

      <article class="article-card card">
        <img src="../images/<%= post[4].image %> " alt="" />
        <h3>
          <a href="/read/<%= post[4].slug %> "
            ><span class="link-span"></span><%= post[4].title %>
          </a>
        </h3>
        <a href="#" class="category bg-light-category"
          ><%= post[4].category %>
        </a>
        <p><%= post[4].summary %></p>
      </article>

      <article class="article-card card bg-dark">
        <img src="../images/<%= post[5].image %>" alt="" />
        <h3>
          <a href="/read/<%= post[5].slug %> "
            ><span class="link-span"></span><%= post[5].title %>
          </a>
        </h3>
        <a href="#" class="category bg-dark-category"
          ><%= post[5].category %>
        </a>
        <p><%= post[5].summary %></p>
      </article>

      <article class="article-card card">
        <div>
          <h3>
            <a href="/read/<%= post[6].slug %> "
              ><span class="link-span"></span><%= post[6].title %>
            </a>
          </h3>
          <a href="#" class="category bg-light-category"
            ><%= post[6].category %>
          </a>
          <p>
            <%= post[6].summary %> <%= post[6].summary %> <%= post[6].summary %>
          </p>
        </div>
      </article>

      <article class="article-card card bg-dark">
        <img src="../images/<%= post[7].image %> " alt="" />
        <h3>
          <a href="/read/<%= post[7].slug %> "
            ><span class="link-span"></span><%= post[7].title %>
          </a>
        </h3>
        <a href="#" class="category bg-light-category"
          ><%= post[7].category %>
        </a>
        <p><%= post[7].summary %></p>
      </article>

      <article class="article-card card">
        <div>
          <h3>
            <a href="/read/<%= post[8].slug %> "
              ><span class="link-span"></span><%= post[8].title %>
            </a>
          </h3>
          <a href="#" class="category bg-light-category"
            ><%= post[8].category %>
          </a>
          <p><%= post[8].summary %> %></p>
        </div>
      </article>

      <article class="article-card card bg-secondary">
        <div>
          <h3>
            <a href="/read/<%= post[9].slug %> "
              ><span class="link-span"></span><%= post[9].title %>
            </a>
          </h3>
          <a href="#" class="category bg-light-category"
            ><%= post[9].category %>
          </a>
          <p><%= post[9].summary %></p>
        </div>
        <img src="../images/<%= post[9].image %> " alt="" />
      </article>
    </div>
  </div>
</section>
