<%- include('partials/head') %> 
  
<title>The Chain Link | Create Post </title>
</head>

<%- include('partials/nav') %> 

<ul>
  <li><a href="/" class="inactive">Home</a></li>
  <li><a href="/articles" class="inactive">Articles</a></li>
  <li><a href="/about" class="inactive">About</a></li>
</ul>
</div>
</nav> 

<section id="read" class="read">
  <div class="container">

    <div class="form-container">
        <article class="form-light">
          <!-- <h1 class="article-heading">Dfinity annouces Bitcoin on the Internet Computer</h1> -->
          <form class="new-post-form" action="/edit/<%= article.slug %> " method="POST">
            <div class="new-post-header">
              <h1 class="form-heading">Edit Post</h1>
              <button class="btn btn-gray create-post-btn" type="submit">Save</button>
            </div>
            <label class="label-author" for="author" >Author</label>
            <br>
            <input class="input-author" type="text" name="author" id="input-author" placeholder="author name" value="<%= article.author %>"/>
            <br/>
            <label class="label-title" for="title" >Title</label>
            <br>
            <input class="input-title" type="text" name="title" id="input-title" placeholder="article title" value="<%= article.title%> "/>
            <br>
            <label class="label-image" for="image">Image name (upload image)</label>
            <input type="text" name="image" class="input-image" id="input-image" value="<%= article.image %> ">
            <br>
            <label class="label-summary" for="summary">Summary</label>
            <br>
            <textarea class="textarea-summary" type="text" name="summary" id="summary" placeholder="article summary"/><%= article.summary %></textarea>
            <br/>
            <label class="label-text" for="text">Text</label>
            <br>
            <textarea class="textarea-text" rows="10" type="text" name="text" id="edit-textarea"><%= article.text %> </textarea>
            <br/>
            <label class="label-category" for="category">Select Category</label>
            <br>
            <select class="select-category" name="category" id="category">
              <option value="blockchain">blockchain</option>
              <option value="web3">web3</option>
              <option value="bitcoin">bitcoin</option>
              <option value="ethereum">ethereum</option>
              <option value="internet computer">internet computer</option>
              <option value="security">security</option>
            </select>
            <br>
          </article>
    </div>
  </div>
</section>

<%- include('partials/footer') %> 