<%- include('partials/head') %> 
  
<title>The Chain Link | Content Moderation </title>
</head>

<%- include('partials/nav') %> 

<ul>
  <li><a href="/" class="inactive">Home</a></li>
  <li><a href="/articles" class="inactive">Articles</a></li>
  <li><a href="/about" class="inactive">About</a></li>
</ul>
</div>
</nav> 

<section id="mod" class="mod">
  <div class="container">
    <article class="mod-dark">
    <% for(let i = 0; i < articles.length; i++)  {%> 
      <div class="mod-article">
        <h5 class="mod-heading"><%= articles[i].title %></h5>
        <div class="mod-controls">
          <button class="btn">Edit</button>
          <button class="btn">Publish</button>
          <button class="btn">Delete</button>
        </div>
        <p class="mod-created"><%= articles[i].created %></p>
      </div>
            <% } %> 
    </article>
    </div>
</section>

<%- include('partials/footer') %> 