<%- include('partials/head') %> 
  
<title>The Chain Link | Content Moderation </title>
</head>

<%- include('partials/nav') %> 

<ul>
  <li><a href="/" class="inactive">Home</a></li>
  <li><a href="/articles" class="inactive">Articles</a></li>
  <li><a href="/about" class="inactive">About</a></li>
</ul>
</div>
</nav> 

<section id="mod" class="mod">
  <div class="container">
    <article class="mod-dark">
    <% for(let i = 0; i < article.length; i++)  {%> 
      <div id="<%= article[i]._id %>" class="mod-article">
        <div class="mod-info">
          <h5 class="mod-heading"><%= article[i].title %></h5>
          <a href="#" class="mod-author category bg-light-category"><span>author: </span><%= article[i].author %>
        </a>
        </div>
          <div class="mod-controls">
          <a href="/edit/<%= article[i].slug %> ">
            <button class="btn">Edit</button>
          </a>
          <button class="btn">Publish</button>
          <form class="delete-button-form" action="/delete/<%= article[i]._id %>?_method=DELETE" method="post" >
            <button type="submit" onclick="deleteArticleConfirm(event)" id="mod-delete-btn" class="btn">Delete</button>
          </form>
        </div>
        <p class="mod-created"><%= article[i].created %></p>
      </div>
            <% } %> 
    </article>
    </div>
</section>

<%- include('partials/footer') %> 