<%- include('partials/head') %> 
  
<title>The Chain Link | About </title>
</head>

<%- include('partials/nav') %> 

<ul>
  <li><a href="/" class="inactive">Home</a></li>
  <li><a href="/articles" class="inactive">Articles</a></li>
  <li><a href="/about" class="inactive">About</a></li>
</ul>
</div>
</nav> 

<section id="read" class="read">
  <div class="container">

    <div class="article-container">
        <article class="article-light">
        <img src="../images/shubham-dhage-background-3-unsplash.jpg" alt="" />
          <!-- <h1 class="article-heading">Dfinity annouces Bitcoin on the Internet Computer</h1> -->
          <h1 class="article-heading"><%= post[0].title %>  </h1>
          <div class="article-meta">
            <a href="#" class="article-author">The Chain Link</a>
            <a href="#" class="category bg-light-category">internet computer</a>
          </div>
          <p>
            <%= post[0].content %> 
          </p>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias accusamus architecto iste omnis corrupti dignissimos illum minus molestiae amet provident soluta suscipit, itaque, porro perspiciatis minima aliquid aliquam voluptatem doloribus modi! Illum necessitatibus magnam distinctio exercitationem quisquam aliquam laborum possimus deleniti velit praesentium, eius ratione dignissimos molestiae natus impedit et?</p> -->
          <!-- <br>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, velit? Recusandae earum iure tempore nihil neque! Mollitia tempora aspernatur assumenda eaque error, consectetur eligendi quae ducimus a nesciunt vitae facere temporibus doloremque, ratione nostrum incidunt corrupti officia itaque saepe hic sunt corporis. Molestias minus molestiae odit neque ab delectus quam fugiat nihil debitis veritatis, est ea, possimus facere repudiandae excepturi.</p>
          <br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias accusamus architecto iste omnis corrupti dignissimos illum minus molestiae amet provident soluta suscipit, itaque, porro perspiciatis minima aliquid aliquam voluptatem doloribus modi! Illum necessitatibus magnam distinctio exercitationem quisquam aliquam laborum possimus deleniti velit praesentium, eius ratione dignissimos molestiae natus impedit et?</p> -->
        </article>
        <aside class="card-aside">
          <H2>Become a Contributor</H2>
          <p>Join an ever-expanding community of talented content creators.</p>
          <p>Help promote and fund your work through your own public profile page linked directly from your published articles.</p>
          <a href="#" class="btn btn-dark btn-block">Join Now</a>
        </aside>
        <!-- <aside class="card-aside">
          <H2>Join The Chain</H2>
          <p>Sign Up for a Seven Day Free trail and recieve full access to out premium content</p>
          <a href="#" class="btn btn-dark btn-block">Join Now</a>
        </aside> -->
    </div>
  </div>
</section>

<%- include('partials/footer') %> 